# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

credentials.json
# Virtual environment
.env
.venv/
env/
venv/
myvenv/
ENV/
env.bak/
venv.bak/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre
.pyre/

# Pydantic compiled files
*.pyd

# Logs and local dumps
*.log
*.pot
*.mo
*.sqlite3
*.db

# Django stuff:
local_settings.py
db.sqlite3

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# pyenv
.python-version

# PyCharm / VSCode / other IDEs
.idea/
.vscode/
*.code-workspace

# macOS
.DS_Store

# System files
Thumbs.db
Desktop.ini